<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="StackMagePHP\CustomFeature\Api\CustomfeatureRepositoryInterface" type="StackMagePHP\CustomFeature\Model\CustomfeatureRepository"/>
	<preference for="StackMagePHP\CustomFeature\Api\Data\CustomfeatureInterface" type="StackMagePHP\CustomFeature\Model\Customfeature"/>
	<preference for="StackMagePHP\CustomFeature\Api\Data\CustomfeatureSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="StackMagePHP\CustomFeature\Model\ResourceModel\Customfeature\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">stackmagephp_customfeature</argument>
			<argument name="resourceModel" xsi:type="string">StackMagePHP\CustomFeature\Model\ResourceModel\Customfeature\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="stackmagephp_customfeature_listing_data_source" xsi:type="string">StackMagePHP\CustomFeature\Model\ResourceModel\Customfeature\Grid\Collection</item>
			</argument>
		</arguments>
		
	</type>
</config>